<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="container">
        <div class="row p-3 border-bottom">
            <div class="col">
                <h5>Buscar</h5>
                <input type="text" class="form-control" placeholder="Buscar gifs...">
            </div>
        </div>
        <div class="row">
            <div class="col lead">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto sunt recusandae cupiditate quis
                deserunt earum harum aut, quidem porro, commodi nam facilis, nihil officia? A maiores facere itaque ab
                architecto.
            </div>
        </div>

    </div>
</div>